<app-page-layout>
    <app-page-layout-header>
      <app-page-layout-header-title><nb-icon icon="sync-outline"></nb-icon> Cluster local Services</app-page-layout-header-title>
    </app-page-layout-header>
    <app-page-layout-body>
      <nb-card style="margin-top: 36px">
        <nb-card-body>
          <app-table-layout>
            <ng2-smart-table
                [settings]="settings"
                [source]="source">
            </ng2-smart-table>
          </app-table-layout>
            <div class="button-wrapper" style="margin-top: 15px">
             <app-button (click)="onCreate()">Add a service</app-button> 
            </div>
        </nb-card-body
      ></nb-card>
    </app-page-layout-body>
  </app-page-layout>
