<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title><nb-icon icon="person-outline"></nb-icon>Peers</app-page-layout-header-title>
  </app-page-layout-header>
  <app-page-layout-body>
    <div class="container" style="margin-top: 36px">
      <nb-card>
        <nb-card-body>
          <app-table-layout>
            <ng2-smart-table
              [settings]="settings"
              [source]="peers"
            ></ng2-smart-table>
          </app-table-layout>
          </nb-card-body>
      </nb-card>
    </div>
  </app-page-layout-body>
</app-page-layout>
