<nb-card >
  <nb-card-body class="example-items-col">
    <div class="topdiv">
      <div >
        <label>Release Name</label>
        <br>
        <input type="text" nbInput disabled fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="releaseDetail.name">
      </div>
      <div>
        <label>Rollout Version</label>
        <br>
        <input type="text" nbInput disabled fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="releaseDetail.version">
      </div>
      <div>
        <label>Chart Name</label>
        <br>
        <input type="text" nbInput disabled fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="releaseDetail.chart.metadata.name">
      </div>
      <div>
        <label>Chart Version</label>
        <br>
        <input type="text" nbInput disabled fieldSize="small" placeholder="Input" [(ngModel)]="releaseDetail.chart.metadata.version" style="width: 60%;">

        <ng-container *ngIf="!upgradingVersion">
          <button *ngIf="alertVersion" (click)="upgradingVersion = true" nbButton size="small" status="warning" nbTooltip="Different from last available version {{releaseDetail.chart.metadata.version}}=>{{chartDetail.metadata.version}}" style="width: 40%;">Ugrade</button>
          <button *ngIf="!alertVersion" (click)="upgradingVersion = true" nbButton size="small" status="basic" style="width: 40%;">Downgrade</button>
        </ng-container>
        <ng-container *ngIf="upgradingVersion">
          <button *ngIf="!alertVersion" (click)="upgradingVersion = false" nbButton size="small" status="danger" style="width: 40%;">Cancel</button>
        </ng-container>
      </div>
    </div>
    <nb-alert status="danger" *ngIf="error != null">{{error}}</nb-alert>
    <br style="clear: both;">
    <div class="confdiv">
      <div>
        <label>Configuration</label>
        <textarea class="configinput" nbInput rows="40" fullWidth placeholder="config" [(ngModel)]="jsonconf"></textarea>
      </div>
      <div>
        <label>Base Configuration</label>
        <textarea class="configinput" nbInput rows="40" fullWidth disabled placeholder="config" [(ngModel)]="completeconf"></textarea>
      </div>
    </div>
    <ng-container *ngIf="upgradingVersion">
      <label >Version:</label>
      <nb-select placeholder="Select version" [(selected)]="selectedVersion">
        <nb-option *ngFor="let opt of availableVersions" value="{{opt}}">{{opt}}</nb-option>
      </nb-select>
    </ng-container>
    <button nbButton status="primary" (click)="updateConfig()">Update Configuration</button>
    <button nbButton status="danger" (click)="deleteRelease()" style="float:right">Delete</button>
  </nb-card-body>
</nb-card>
