:host ::ng-deep .ng2-smart-actions{text-align: center;}
:host ::ng-deep .ng2-smart-actions ng2-st-tbody-edit-delete {display: inline-block !important;}
:host ::ng-deep .ng2-smart-actions ng2-st-tbody-custom {display: inline-block !important;margin-right: 20px;}
