<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title>Cluster Config</app-page-layout-header-title>
  </app-page-layout-header>
  <app-page-layout-body>
    <nb-card style="margin-top: 36px">
      <nb-card-header>Deployed Modules</nb-card-header>
      <nb-card-body class="example-items-col">
      <div *ngIf="releases">
        <app-table-layout>
          <ng2-smart-table
          [settings]="settingsDeployedTable"
          [source]="releases"
          (edit)="releaseEdit($event)"
          ></ng2-smart-table>
        </app-table-layout>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Available Modules</nb-card-header>
      <nb-card-body class="example-items-col">
      <div *ngIf="releases">
        <app-table-layout>
          <ng2-smart-table
          [settings]="settingsAvailableTable"
          [source]="charts"
          (edit)="createChart($event)"
          ></ng2-smart-table>
        </app-table-layout>
        </div>
      </nb-card-body>
    </nb-card>
  </app-page-layout-body>
</app-page-layout>
