<app-page-layout>
    <app-page-layout-header>
        <app-page-layout-header-title>Resources monitoring</app-page-layout-header-title>
    </app-page-layout-header>
    <app-page-layout-body>
        It's work !
    </app-page-layout-body>
</app-page-layout>
