<nb-card>
  <nb-card-header><h5>Create an identity</h5></nb-card-header>
  <nb-card-body>
    <form
      style="display: inline-grid; gap: 2em; margin-bottom: 1em; width: 400px"
      #identityForm="ngForm"
    >
      <div class="form-group" *ngIf="error.All">
        <div class="alert">{{ error.All }}</div>
      </div>

      <div class="form-group" style="display: inline-grid">
        <label for="name">Name<span class="required-asterisk">*</span></label>
        <input
          type="text"
          nbInput
          fullWidth
          [(ngModel)]="identity.name"
          name="name"
          #name="ngModel" 
          pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          required
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors && name.errors.required">
            Name is required
          </div>
          <div *ngIf="name.errors && name.errors.pattern">
            Name must respect following pattern : [a-z0-9]([-a-z0-9]*[a-z0-9])?
          </div>
        </div>
        <div *ngIf="error.Name && !error.All" class="alert">
          {{ error.Name }}
        </div>
      </div>

      <div class="form-group" style="display: inline-grid">
        <label for="url">URL<span class="required-asterisk">*</span></label>
        <input
          type="text"
          nbInput
          fullWidth
          [(ngModel)]="identity.url"
          name="url"
          #url="ngModel"
          required
        />
        <div *ngIf="url.invalid && (url.dirty || url.touched)" class="alert">
          <div *ngIf="url.errors && url.errors.required">
            URL is required
          </div>
        </div>
        <div *ngIf="error.Url && !error.All" class="alert">
          {{ error.Url }}
        </div>
      </div>

      <div class="form-group" style="display: inline-grid">
        <label for="description">Description</label>
        <input
          type="text"
          nbInput
          fullWidth
          [(ngModel)]="identity.description"
          name="description"
        />
        <div *ngIf="error.Description && !error.All" class="alert">
          {{ error.Description }}
        </div>
      </div>

      <div class="form-group" style="display: inline-grid">
        <label for="categories">Categories</label>
        <nb-form-field>
          <input
            type="text"
            nbInput
            fullWidth
            [(ngModel)]="categorytoadd"
            name="categorytoadd"
          />
          <button (click)="onTagAdd()" nbSuffix ghost nbButton status="primary">
            <nb-icon icon="plus-square-outline"></nb-icon>
          </button>
        </nb-form-field>
        <nb-tag-list (tagRemove)="onTagRemove($event)" style="padding-top: 10px;">
          <nb-tag
            *ngFor="let category of categorytoadds"
            [text]="category"
            removable
          ></nb-tag>
        </nb-tag-list>
        <div *ngIf="error.Categories && !error.All" class="alert">
          {{ error.Categories }}
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="button-wrapper">
      <app-button class="cancel" (click)="close()">
        Cancel
      </app-button>
      <app-button (click)="update()" *ngIf="edit" [disabled]="!identityForm.form.valid">
        Update
      </app-button>
      <app-button (click)="create()" *ngIf="!edit" [disabled]="!identityForm.form.valid">
        Create
      </app-button>
    </div>
  </nb-card-footer>
</nb-card>
