<nb-card>
  <nb-card-header><h5>Create a network</h5></nb-card-header>
  <nb-card-body>
    <form
      style="display: inline-grid; gap: 2em; margin-bottom: 1em; width: 800px"
      #networkForm="ngForm"
    >
      <div class="form-group" style="grid-column: 1" *ngIf="error.All">
        <div class="alert">{{ error.All }}</div>
      </div>

      <div class="form-group" style="display: inline-grid; width: 400px; grid-column: 1">
        <label for="name">Name<span class="required-asterisk">*</span></label>
        <input
          type="text"
          nbInput
          fullWidth
          [(ngModel)]="network.name"
          name="name"
          #name="ngModel"
          networkForbiddenName
          pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          required
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors && name.errors.required">
            Name is required
          </div>
          <div *ngIf="name.errors && name.errors.forbiddenName">
            {{ name.errors.forbiddenName.value }}
          </div>
          <div *ngIf="name.errors && name.errors.pattern">
            Name must respect following pattern : [a-z0-9]([-a-z0-9]*[a-z0-9])?
          </div>
        </div>
        <div *ngIf="error.Name && !error.All" class="alert">
          {{ error.Name }}
        </div>
      </div>

      <div *ngIf="network.is_private" [@inOutAnimation] class="form-group" style="display: inline-grid; grid-column: 1 / span 2">
        <nb-radio-group [(ngModel)]="creationtype" name="creationtype" style="display: flex">
          <nb-radio value="Create" [checked]="true">Create</nb-radio>
          <nb-radio value="Join">Join</nb-radio>
        </nb-radio-group>
      </div>

      <div 
        *ngIf="network.is_private"
        [@inOutAnimation]
        class="form-group"
        style="display: inline-grid; width: 400px; grid-column: 1">
        <label for="privatekey">Private key
          <span *ngIf="creationtype == 'Join'" class="required-asterisk">*</span>
          <span *ngIf="creationtype == 'Create'" class="light"> (Optional)</span>
        </label>
        <input
          type="text"
          nbInput
          fullWidth
          [(ngModel)]="network.private_key"
          #privatekey="ngModel"
          name="privatekey"
          [required]="creationtype == 'Join'"
        />
        <div *ngIf="privatekey.invalid && (privatekey.dirty || privatekey.touched)" class="alert">
          <div *ngIf="privatekey.errors && privatekey.errors.required">
            Private key is required if joining network
          </div>
        </div>
        <div *ngIf="error.PrivateKey && !error.All" class="alert">
          {{ error.PrivateKey }}
        </div>
        <div *ngIf="creationtype == 'Create'" class="light">
          Private key is generated if not provided
        </div>
      </div>

      <div *ngIf="network.is_private && creationtype == 'Join'" [@inOutAnimation] class="form-group" style="display: inline-grid; grid-column: 1 / span 2">
        <label for="joiningnodes">Joining nodes
          <span *ngIf="creationtype == 'Join'" class="required-asterisk">*</span>
        </label>
        <nb-form-field>
          <input
            type="text"
            nbInput
            fullWidth
            [(ngModel)]="joiningnodetoadd"
            name="joiningnodetoadd"
          />
          <button (click)="onTagAdd()" nbSuffix ghost nbButton status="primary">
            <nb-icon icon="plus-square-outline"></nb-icon>
          </button>
        </nb-form-field>
        <div *ngIf="error.Joiningnodes && !error.All && joiningnodestoadds.size == 0" class="alert">
          {{ error.Joiningnodes }}
        </div>
        <nb-tag-list (tagRemove)="onTagRemove($event)" style="padding-top: 10px;">
          <nb-tag
            *ngFor="let joiningnode of joiningnodestoadds"
            [text]="joiningnode"
            removable
          ></nb-tag>
        </nb-tag-list>
      </div>

      <div *ngIf="network.is_private" class="form-group" style="display: inline-grid; grid-column: 1">
        <label for="entrypoint">Entrypoint<span class="required-asterisk">*</span></label>

        <nb-select [(ngModel)]="network.entrypoint" name="entrypoint" #entrypoint="ngModel" required>
          <nb-option value="{{entrypoint.name}}" *ngFor="let entrypoint of entrypoints">{{entrypoint.port}}</nb-option>
        </nb-select>

        <div *ngIf="entrypoint.invalid && (entrypoint.dirty || entrypoint.touched)" class="alert">
          <div *ngIf="entrypoint.errors && entrypoint.errors.required">
            Entrypoint is required
          </div>
        </div>
        <div *ngIf="error.Entrypoint && !error.All" class="alert">
          {{ error.Entrypoint }}
        </div>

      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="button-wrapper">
      <app-button class="cancel" (click)="close()">
        Cancel
      </app-button>
      <app-button (click)="create()" [disabled]="!networkForm.form.valid">
        Create
      </app-button>
    </div>
  </nb-card-footer>
</nb-card>
