<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title>Cluster local Storage providers</app-page-layout-header-title>
  </app-page-layout-header>
  <app-page-layout-body>
    <nb-card style="margin-top: 36px">
      <nb-card-body>
        <app-table-layout>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
        ></ng2-smart-table>
      </app-table-layout>
      </nb-card-body
    ></nb-card>
  </app-page-layout-body>
</app-page-layout>