button[ghost] > nb-icon:not([status]) {
    color: black;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 1.5em;
    padding: 0;
}

label {
    font-weight: 700;
    padding-bottom: 5px;
    margin-right: 10px;
    min-width: fit-content;
}

nb-card {
    flex: 1 0;
}

.alert {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.ng-valid[required], .ng-valid.required {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
  
.ng-invalid.ng-touched:not(form) {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
  
::ng-deep .ng-valid[required] > button.select-button, .ng-valid.required > button.select-button {
    border-color: #28a745!important;
}
  
::ng-deep .ng-invalid.ng-touched:not(form) > button.select-button {
    border-color: #dc3545!important;
}

.required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

.light {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}

.identity-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-template-rows: 40px 40px auto;
    column-gap: 50px;
    row-gap: 15px;
}

.default-network-container {
    display: flex;
    column-gap: 50px;
}

.public-status {
    position: relative;
    width: 120px;
    height: 44px;
}

.counter-container {
    display: flex;
    align-items: center;
    font-size: 32px;
    height: 42px;
}

.btn-icon {
    padding: 0!important;
}
