<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title><nb-icon icon="share-outline"></nb-icon> Network overview</app-page-layout-header-title>
  </app-page-layout-header>
  <app-page-layout-body>
    <div class="container" style="margin-top: 36px">
      <app-identity
        [identity]="identity"
        style="display: contents"
        (identityUpdated)="onIdentityUpdated($event)">
      </app-identity>

      <div *ngIf="identity != null">
        <nb-card>
          <nb-card-header>
            <nb-icon icon="share-outline"></nb-icon>Number of Network
          </nb-card-header>
          <nb-card-body>
            <div class="counter-container">{{getNetworksNumber()}}</div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            <nb-icon icon="link-outline"></nb-icon> Number of Online Peers
          </nb-card-header>
          <nb-card-body class="counter-container">
            <div style="flex-grow: 1">{{nbOnlinePeers}}</div>
            <div>
              <app-button (click)="goToPage('peers')" size="small">See all</app-button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div *ngIf="identity != null" class="container top">
      <nb-card>
        <nb-card-header style="display: flex">
          <div style="flex-grow: 1">
            <nb-icon icon="share-outline"></nb-icon>
            Public Network
          </div>
          <div *ngIf="default_network == null" style="margin: -10px;display: flex;align-items: center;">
            <app-button size="small" (click)="onCreate(false)">Join</app-button>
          </div>
          <div *ngIf="default_network != null" style="margin: -10px;display: flex;align-items: center;">
            <div *ngIf="default_network.ready" style="text-align: center">
              <app-button size="small" (click)="onDelete(default_network)">Delete</app-button>
            </div>
            <div *ngIf="default_network.notready" class="public-status" [nbSpinner]="true" nbSpinnerMessage="Creating..." nbSpinnerStatus="info"></div>
            <div *ngIf="default_network.pending" class="public-status" [nbSpinner]="true" nbSpinnerMessage="Creating..." nbSpinnerStatus="success"></div>
            <div *ngIf="default_network.deleting" class="public-status" [nbSpinner]="true" nbSpinnerMessage="Deleting..." nbSpinnerStatus="danger"></div>
          </div>
        </nb-card-header>
        <nb-card-body *ngIf="default_network != null" >
          <div class="default-network-container">
            <div style="display: flex;">
                <label>Name</label><div>{{default_network.name}}</div>
            </div>
            <div style="display: flex;">
                <label>Entrypoint</label><div>{{getPortFromEntrypoints(default_network.entrypoint)}}</div>
            </div>
            <div *ngIf="default_network.published" style="display: flex;">
                <label>Identity</label>
                <div>
                  <status-icon [value]="default_network.published"></status-icon>
                </div>
            </div>
            <div *ngIf="default_network.ready" style="display: flex;">
                <label>Ready</label>
                <div>
                  <status-icon [value]="default_network.ready"></status-icon>
                </div>
            </div>
          </div>
        </nb-card-body
      ></nb-card>
    </div>
    <div *ngIf="identity != null" class="container top">
      <nb-card>
        <nb-card-header
          ><nb-icon icon="share-outline"></nb-icon>
          Private Networks</nb-card-header
        >
        <nb-card-body>
          <app-table-layout>
            <ng2-smart-table
              [settings]="settingsNetwork"
              [source]="sourceNetwork"
            ></ng2-smart-table>
          </app-table-layout>
          <div class="button-wrapper" style="margin-top: 15px">
            <app-button (click)="onCreate(true)">Add a network</app-button>
          </div>
        </nb-card-body
      ></nb-card>
    </div>
  </app-page-layout-body>
</app-page-layout>
