app-breadcrumbs:host {
  display: block;
  margin-bottom: 1rem;
}

app-breadcrumbs-item:host {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
}

app-breadcrumbs-item:host a {
  color: #8f9bb3;
  text-decoration: none;
  cursor: pointer;
}

app-breadcrumbs-item:last-child:host a {
  color: #3366ff;
  font-weight: bolder;
  cursor: default;
}

app-breadcrumbs-item:not(:last-child):host a:hover {
  color: #598bff;
}

app-breadcrumbs-item:not(:first-child):host {
  padding-left: 1rem;
}

app-breadcrumbs-item:not(:last-child):host::after {
  position: absolute;
  content: "/";
  color: #8f9bb3;
  right: 0;
  top: 0.1rem;
}


