<nb-card role="dialog" tabindex="-1">
  <nb-card-header
    >Warning !
    <nb-icon
      icon="close"
      (click)="cancel()"
      aria-label="close windows"
      tabindex="0"
    ></nb-icon>
  </nb-card-header>
  <nb-card-body>
    {{ text }}
  </nb-card-body>
  <nb-card-footer>
    <app-button (click)="cancel()">{{ cancelBtn }}</app-button>
    <app-button (click)="validate()">{{ acceptBtn }}</app-button>
  </nb-card-footer>
</nb-card>
