:host.tab-group {
  display: flex;
}

.tab-link {
  background-color: transparent;
  color: #8f9bb3;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

:host.tab {
  display: flex;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: -1px;
}

:host.tab.active, :host.tab.active:hover {
  border-bottom: 4px solid #3366ff;
}

:host.tab.active .tab-link {
  color: #3366ff;
}

:host.tab:hover .tab-link {
  color: #598bff
}
