<nb-card >
  <nb-card-body class="example-items-col">
    <div class="topdiv">
      <div >
        <label>Release Name</label>
        <br>
        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="releaseName">
      </div>
      <div>
        <label>Chart Name</label>
        <br>
        <input type="text" nbInput disabled fullWidth fieldSize="small" placeholder="Input" [(ngModel)]="chartName">
      </div>
      <div>
        <label>Chart Version</label>
        <br>
        <nb-select placeholder="Select version" [(selected)]="selectedVersion">
          <nb-option *ngFor="let opt of availableVersions" value="{{opt}}">{{opt}}</nb-option>
        </nb-select>
      </div>
    </div>
    <nb-alert status="danger" *ngIf="error != null">{{error}}</nb-alert>
    <br style="clear: both;">
    <div class="confdiv">
      <div>
        <label>Configuration</label>
        <textarea class="configinput" nbInput rows="40" fullWidth placeholder="config" [(ngModel)]="jsonconf"></textarea>
      </div>
      <div>
        <label>Base Configuration</label>
        <textarea class="configinput" nbInput rows="40" fullWidth disabled placeholder="config" [(ngModel)]="completeconf"></textarea>
      </div>
    </div>
    <button *ngIf="ready>1" status="primary" nbButton (click)="updateConfig()">Deploy release</button>
  </nb-card-body>
</nb-card>
