.topdiv > div {
  float:left;
  width: 33%;
  padding: 1%;
  min-width: 180px;
}
.topdiv > div:first-child {
  padding-left: 0px;
}

.topdiv > div:last-child{
  padding-right: 0px;
}

.confdiv > div {
  float:left;
  width: 50%;
  padding: 1%;
  min-width: 360px;
}

.configinput  {
  font-size: small !important;
  line-height: normal !important;
}
