<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>IRT SB - Administration</span></a>
  </div>
</div>

<div class="header-container">
  
  <nb-actions *ngIf="isLoggedIn" size="small">
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.username"
               [picture]="user?.picture"
               nbContextMenuTag="context-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
  <nb-actions  *ngIf="!isLoggedIn">
    <nb-action (click)="login()"><span>{{isLoggedIn ? 'Logout' : ' Login'}} </span></nb-action>
  </nb-actions>
</div>
