<nb-card class="modal-container">
  <nb-card-header> Update a provider</nb-card-header>
  <nb-card-body>
    <form #providerForm="ngForm">
      <div class="form-group" *ngIf="error.All">
        <div class="alert alert-danger">{{ error.All }}</div>
      </div>

      <div class="form-group description">
        <label for="description">Description</label>
        <textarea
          type="text"
          nbInput
          fullWidth
          style="height: 150px"
          [(ngModel)]="provider.description"
          name="description"
          [ngClass]="{ wsError: error.Description && error.Description != '' }"
        >
        </textarea>
        <div *ngIf="error.Description && !error.All" class="alert">
          {{ error.Description }}
        </div>
      </div>

      <div class="form-group images">
        <label for="images">Images URL</label>
        <input
          nbInput
          fullWidth
          type="url"
          [(ngModel)]="newImage"
          name="newImage"
        /><app-button (click)="addImage()">ADD</app-button>
        <div *ngIf="error.Providers && !error.All" class="alert">
          {{ error.Providers }}
        </div>
      </div>
      <div class="linklist" *ngFor="let image of images">
        {{ image }}
        <nb-icon
          style="cursor: pointer"
          (click)="removeImage(image)"
          icon="trash"
        ></nb-icon>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="button-wrapper">
      <app-button (click)="close()">Cancel</app-button>
      <app-button (click)="update()" [disabled]="!providerForm.form.valid"
        >Update</app-button
      >
    </div>
  </nb-card-footer>
</nb-card>
