.container{
    display: flex;
    gap: 1.5em;
    padding: 0;
}

.order-table {

    thead th.ng2-smart-actions.ng-star-inserted {
      width: 1em;
    }

    td.ng2-smart-actions {
      float: right !important;

      ng2-st-tbody-custom {
        float: right;
        width: auto;
        display: flex;
        margin-top: 0.5em;
        margin-left: 1em;

        a.ng2-smart-action.ng2-smart-action-custom-custom {
          margin-right: 0.5em;
        }
      }
    }
  }

  .nb-theme-default ng2-smart-table .ng2-smart-actions a.ng2-smart-action:not(:last-child){
    border-right: 0;
  }

  .textInfoNetwork {
    color: #696969;
    font-size: 1em;
  }
  .buttonPeers {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
