<app-page-layout>
    <app-page-layout-header>
      <app-page-layout-header-title>Dashboard</app-page-layout-header-title>
    </app-page-layout-header>
    <app-page-layout-body>
        <div class="container" style="margin-top: 36px">
            <app-identity
            [identity]="identity"
            style="display: contents"
            (identityUpdated)="onIdentityUpdated($event)">
            </app-identity>

            <nb-card *ngIf="identity != null">
                <nb-card-header><nb-icon icon="link-outline"></nb-icon> Peers</nb-card-header>
                <nb-card-body>
                    <app-peers-table [peers]="peers"></app-peers-table>
                    <button nbButton status="basic" class="buttonPeers" (click)="goToPage('peers')" >Go to the peers</button>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="container">
            <nb-card style="width: 75%;">
                <nb-card-header>Data Cost </nb-card-header>
                <nb-card-body style="padding-right: 2em; height: 400px;">
                <app-chart-component [data]="multi"></app-chart-component>
                </nb-card-body>
            </nb-card>
            <div>
                <nb-card>
                    <nb-card-header>Billing </nb-card-header>
                    <nb-card-body>
                        You can access billing information here
                    </nb-card-body>
                </nb-card>

                <nb-card>
                    <nb-card-header>Resources </nb-card-header>
                    <nb-card-body>
                        You can check current resources use
                    </nb-card-body>
                </nb-card>

                <nb-card>
                    <nb-card-header>Cluster </nb-card-header>
                    <nb-card-body>
                        You can check current resources use
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </app-page-layout-body>
</app-page-layout>
