::ng-deep .cdk-global-scrollblock {
    position: static !important;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-wrapper.scopes {
    align-items: center;
    margin-right: 2rem;
}
.catalog-check {
    display: flex;
    align-items: center;
}

.container-global {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: min-content 1fr;
    column-gap: 10px;
    grid-template-areas: "sd main";
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.sidebar {
    grid-area: sd;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    min-height: 10rem;
    margin-top: 2rem;
}

.spinner {
    min-height: 175px;
}

.description {
    text-align: justify;
    margin-right: 1rem;
}

.details {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "tid tir tip"
        "cd cr cp";

    * {
        padding: 0.5rem;
    }
    .tid {
        grid-area: tid;
        border-right: 1px solid #edf1f7;
        padding-right: 1rem;
        font-weight: bold;
    }
    .cd {
        grid-area: cd;
        border-right: 1px solid #edf1f7;
        padding-right: 1rem;
    }
    .tir {
        grid-area: tir;
        font-weight: bold;
        border-right: 1px solid #edf1f7;
    }
    .cr {
        grid-area: cr;
        border-right: 1px solid #edf1f7;
    }
    .tip {
        grid-area: tip;
        font-weight: bold;
        border-right: 1px solid #edf1f7;
    }
    .cp {
        grid-area: cp;
        border-right: 1px solid #edf1f7;
    }
}

.font-type {
    margin-top: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    background-color: rgba(87, 87, 87, 0.24);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 25px;
}

.images img {
    max-width: 200px;
    max-height: 200px;
}

nb-accordion {
    border: none;
    box-shadow: none;
}

nb-accordion-item-header {
    display: flex;
    justify-content: space-between;
    margin-right: -2rem;
}

nb-card.select-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 2rem;
    margin-bottom: 0;
}
nb-card.select-card.active {
    border-bottom: 3px solid #3366ff;
}
nb-card.select-card:hover {
    top: -10px;
    cursor: pointer;
}

nb-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.scopes-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #3366ff1c;
    nb-accordion.description {
        min-width: 57rem;
        max-width: 57rem;
    }
}

.type-and-image {
    display: flex;
    justify-content: space-between;
}

.type-select {
    background-color: #3366ff;
    border-radius: 25px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: white;
}

@media (min-width: 1750px) {
    .scopes-list {
        nb-accordion.description {
            min-width: 76rem;
            max-width: 76rem;
        }
    }
}
