<app-page-layout>
  <app-page-layout-header>
    <app-page-layout-header-title>Providers Config</app-page-layout-header-title>
  </app-page-layout-header>
  <app-page-layout-body>
    <div class="container-global">
      <div class="sidebar">
        <nb-card style="height: 100%">
          <nb-card-header>Select a provider : </nb-card-header>
          <nb-card
            class="select-card"
            *ngFor="let provider of providers"
            [ngClass]="{ active: selectedProvider === provider }"
            (click)="selectProvider(provider)"
            style="margin: 0.5rem"
            ><span style="font-weight: bold">{{ provider.name }} </span>
            <span> ({{ provider.type }}) </span>
            <span class="type-select">{{ provider.version }}</span>
          </nb-card>
        </nb-card>
      </div>
      <div class="main" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant" nbSpinnerMessage="Loading">
        <nb-card *ngIf="providers && providers.length && selectedProvider" style="margin-top: 2rem">
          <nb-card-header>
            <div>{{ selectedProvider.name }}</div>
            <div>Version : {{ selectedProvider.version }}</div>
          </nb-card-header>
          <nb-card-body>
            <div class="type-and-image">
              <div class="provider-type">
                <span *ngIf="selectedProvider.type == 'data'" class="font-type">
                  <nb-icon icon="log-out-outline"></nb-icon>&nbsp;
                  {{ selectedProvider.type }}
                </span>
                <span *ngIf="selectedProvider.type == 'service'" class="font-type">
                  <nb-icon icon="sync-outline"></nb-icon>&nbsp;
                  {{ selectedProvider.type }}
                </span>
                <span *ngIf="selectedProvider.type == 'computing'" class="font-type">
                  <nb-icon icon="flash-outline"></nb-icon>&nbsp;
                  {{ selectedProvider.type }}
                </span>
                <span *ngIf="selectedProvider.type == 'storage'" class="font-type">
                  <nb-icon icon="log-in-outline"></nb-icon>&nbsp;
                  {{ selectedProvider.type }}
                </span>
                <p class="description">Description : {{ selectedProvider.description }}</p>
                <p>Creation date : {{ selectedProvider.createdAt | date: "medium" }}</p>
                <p>Last update date : {{ selectedProvider.updatedAt | date: "medium" }}</p>
                <p class="catalog-check">
                  <span *ngIf="selectedProvider.catalogSyncStatus != 0">
                    Added to catalog : <nb-icon icon="checkmark-circle-outline"></nb-icon> {{ selectedProvider.registeredAt | date: "medium" }}
                  </span>
                  <span *ngIf="selectedProvider.unregisteredAt && selectedProvider.catalogSyncStatus == 0">
                    Removed from catalog :<nb-icon icon="close-outline"></nb-icon>
                    {{ selectedProvider.unregisteredAt | date: "medium" }}
                  </span>
                  <span *ngIf="selectedProvider.catalogSyncStatus == 0 && !selectedProvider.unregisteredAt">
                    Never been in catalog<nb-icon icon="close-outline"></nb-icon>
                  </span>
                </p>
              </div>
              <div class="images">
                <img *ngFor="let image of selectedProvider.images" class="doc" src="{{ image }}" alt="" />
              </div>
            </div>
            <div class="button-wrapper">
              <app-button (click)="onEditProvider()">Update</app-button>
              <app-button *ngIf="selectedProvider.catalogSyncStatus == 0" (click)="addProviderToCatalog()">Add to catalog</app-button>
              <app-button *ngIf="selectedProvider.catalogSyncStatus != 0" (click)="removeProviderFromCatalog()">Remove from catalog</app-button>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card class="spinner" *ngIf="selectedProvider">
          <nb-card-header>
            <div>Scopes</div>
            <app-button (click)="onCreate()"><nb-icon icon="plus-circle"></nb-icon></app-button>
          </nb-card-header>
          <nb-card-body *ngIf="!scopes || !scopes.length" [nbSpinner]="loadingScope" nbSpinnerStatus="primary" nbSpinnerSize="giant" nbSpinnerMessage="Loading">
            <p *ngIf="!loadingScope" style="font-weight: bold; padding-left: 1.25rem">No scopes registered for this provider.</p>
          </nb-card-body>
          <nb-card-body *ngIf="scopes && scopes.length" [nbSpinner]="loadingScope" nbSpinnerStatus="primary" nbSpinnerSize="giant" nbSpinnerMessage="Loading">
            <div class="scopes-list" *ngFor="let scope of scopes">
              <nb-accordion class="description"
                ><nb-accordion-item>
                  <nb-accordion-item-header>
                    <div>
                      {{ scope.name }}
                      <span style="color: rgba(128, 128, 128, 0.493); font-size: 0.75rem; margin-left: 1rem">{{ scope.id }}</span>
                    </div>
                    <div class="button-wrapper scopes">
                      <app-button (click)="onEditScope(scope)"><nb-icon icon="edit"></nb-icon></app-button>
                      <app-button (click)="onDeleteScope(selectedProvider, scope)"><nb-icon icon="trash"></nb-icon></app-button></div
                  ></nb-accordion-item-header>
                  <nb-accordion-item-body>
                    <div class="details">
                      <div class="tid">Description</div>
                      <div class="cd">{{ scope.description }}</div>
                      <div class="tir">Resources</div>
                      <div class="cr">
                        <li *ngFor="let resource of scope.resources">
                          {{ resource }}
                        </li>
                      </div>
                      <div class="tip">Permissions</div>
                      <div class="cp">
                        <li *ngFor="let permission of scope.permissions">
                          {{ permission }}
                        </li>
                      </div>
                    </div>
                  </nb-accordion-item-body>
                </nb-accordion-item></nb-accordion
              >
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </app-page-layout-body></app-page-layout
>
