/* You can add global styles to this file, and also import other style files */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}

@font-face {
  font-family: montserrat;
  src: url(assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

.nb-theme-default nb-sidebar {
  z-index: 2;
}

nb-card-header {
  font-family: "Montserrat", sans-serif!important;
   font-size: 1.1rem!important;
}

nb-card {
  box-shadow: 0 0.125rem 0.3125rem 0 rgb(25 25 25 / 16%)!important;
}

nb-icon {
  color: #3ba5cf;
}
