button[ghost] > nb-icon:not([status]) {
    color: black;
}

.btn[disabled] {
    background-color: #b9b9b94d;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 1.5em;
    padding: 0;
}

label {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    margin-right: 10px;
    min-width: fit-content;
}

nb-card {
    flex: 1 0;
    width: 635px;
}

.alert {
    grid-area: alert;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.ng-valid[required]:not(.wsError),
.ng-valid.required:not(.wsError) {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.ng-invalid.ng-touched:not(form),
.wsError {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.required-asterisk {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

.light {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
}

.identity-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-template-rows: 40px 40px auto;
    column-gap: 50px;
    row-gap: 15px;
}

.counter-container {
    display: flex;
    align-items: center;
    font-size: 32px;
    height: 42px;
}

.btn-icon {
    padding: 0 !important;
}

.editor-div {
    height: 350px;
    width: 500px;
    .cwl-editor {
        height: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: #e4e9f2;
    }
}

form.create-mode {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "name description"
        "resources permissions"
        "alert alert";
}

.form-group {
    input {
        margin-top: 0.5rem;
    }
    nb-select {
        margin-top: 0.5rem;
    }
    textarea {
        margin-top: 0.5rem;
    }
}

.form-group.name {
    grid-area: name;
}

.form-group.description {
    grid-area: description;

    input {
        height: 150px;
    }
}

.form-group.resources {
    grid-area: resources;
}

.form-group.permissions {
    grid-area: permissions;
}

.modal-container {
    max-height: 98vh;
}

.img-preview {
    height: 200px;
    max-width: 400px;
    margin-top: 0.25rem;
    border-radius: 8px;
}
