<nb-card class="modal-container">
  <nb-card-header>
    {{ edit == false ? "Create" : "Update" }} a scope</nb-card-header
  >
  <nb-card-body>
    <form class="create-mode" #form="ngForm">
      <div class="form-group" *ngIf="error.All">
        <div class="alert alert-danger">{{ error.All }}</div>
      </div>

      <div class="form-group name">
        <label for="name">Name<span class="required-asterisk">*</span></label>
        <input
          type="text"
          nbInput
          fullWidth
          [(ngModel)]="scopeForm.name"
          name="name"
          #name="ngModel"
          [ngClass]="{ wsError: error.Name && error.Name != '' }"
          required
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors && name.errors.required">
            Name is required
          </div>
        </div>
        <div *ngIf="error.Name && !error.All" class="alert">
          {{ error.Name }}
        </div>
      </div>

      <div class="form-group description">
        <label for="description">Description</label>
        <textarea
          type="text"
          nbInput
          fullWidth
          style="height: 100px"
          [(ngModel)]="scopeForm.description"
          name="description"
          [ngClass]="{ wsError: error.Description && error.Description != '' }"
        >
        </textarea>
        <div *ngIf="error.Description && !error.All" class="alert">
          {{ error.Description }}
        </div>
      </div>

      <div class="form-group resources">
        <label for="resources">Resources</label>
        <nb-select
          multiple
          placeholder="Select a resource"
          [selected]="scopeForm.resources"
          (selectedChange)="scopeForm.resources = $event"
          name="resources"
          fullWidth
        >
          <nb-option
            *ngFor="let resource of resources"
            value="{{ resource }}"
            >{{ resource }}</nb-option
          >
        </nb-select>
        <div *ngIf="error.Resources && !error.All" class="alert">
          {{ error.Resources }}
        </div>
      </div>

      <div class="form-group permissions">
        <label for="permissions">Permissions</label>
        <nb-select
          multiple
          placeholder="Select a permission"
          [selected]="scopeForm.permissions"
          (selectedChange)="scopeForm.permissions = $event"
          name="permissions"
          fullWidth
        >
          <nb-option
            *ngFor="let permission of permissions | stringEnumToArray"
            value="{{ permission }}"
          >
            {{ permission }}
          </nb-option>
        </nb-select>

        <div *ngIf="error.Permissions && !error.All" class="alert">
          {{ error.Permissions }}
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="button-wrapper">
      <app-button (click)="close()">Cancel</app-button>
      <app-button (click)="create()" *ngIf="!edit" [disabled]="!form.form.valid"
        >Create</app-button
      >
      <app-button (click)="update()" *ngIf="edit" [disabled]="!form.form.valid"
        >Update</app-button
      >
    </div>
  </nb-card-footer>
</nb-card>
