<nb-card>
    <nb-card-header style="display: flex">
    <div style="flex-grow: 1">
        <nb-icon icon="person-outline"></nb-icon>Identity
    </div>
    <div *ngIf="identity != null" >
        <button nbButton ghost class="btn-icon" (click)="onEditIdentity()">
            <nb-icon icon="edit-2-outline"></nb-icon>
        </button>
    </div>
    </nb-card-header>
    <nb-card-body>
    <div *ngIf="identity != null" class="identity-container">
        <div style="grid-column: 1">
            <label>Name</label><div>{{identity.name}}</div>
        </div>
        <div style="grid-column: 1">
            <label>Url</label><div><a href="{{identity.url}}">{{identity.url}}</a></div>
        </div>
        <div style="grid-column: 1">
            <label>Categories</label>
            <div><nebular-list [value]="identity.categories"></nebular-list></div>
        </div>
        <div style="grid-row: 1 / span 3; grid-column: 2;align-self: start;">
            <label>Description</label><div>{{identity.description}}</div>
        </div>
    </div>
    <div *ngIf="identity == null">
        <p>You need to create an identity first to connect on other cluster...</p>
        <app-button (click)="onCreateIdentity()">Create an identity</app-button>
    </div>
    </nb-card-body>
</nb-card>
