<nb-card class="modal-container">
    <nb-card-header>Create a service</nb-card-header>
    <nb-card-body>
        <form style="display: grid; gap: 2em" #serviceForm="ngForm">
            <div class="form-group" *ngIf="error.All" style="grid-column: 1 / span 2">
                <div class="alert alert-danger">{{error.All}}</div>
            </div>

            <div class="form-group" style="display: flex;flex-direction: column;grid-column: 1">
                <label for="name">Name<span class="required-asterisk">*</span></label>
                <input
                    type="text"
                    nbInput
                    fullWidth
                    [(ngModel)]="service.name"
                    name="name"
                    #name="ngModel"
                    [ngClass]="{'wsError': error.Name && error.Name != ''}"
                    required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                  <div *ngIf="name.errors && name.errors.required">
                    Name is required
                  </div>
                </div>
                <div *ngIf="error.Name && !error.All" class="alert">
                  {{ error.Name }}
                </div>
            </div>

            <div class="form-group" style="display: flex;flex-direction: column;grid-column: 1">
                <label for="version">Version<span class="required-asterisk">*</span></label>
                <input
                    type="text"
                    nbInput fullWidth
                    [(ngModel)]="service.version"
                    name="version"
                    #version="ngModel"
                    [ngClass]="{'wsError': error.Version && error.Version != ''}"
                    required>
                <div *ngIf="version.invalid && (version.dirty || version.touched)" class="alert">
                  <div *ngIf="version.errors && version.errors.required">
                    Version is required
                  </div>
                </div>
                <div *ngIf="error.Version && !error.All" class="alert">
                  {{ error.Version }}
                </div>
            </div>

            <div class="form-group" style="display: flex;flex-direction: column;width: 400px;grid-column: 1">
                <label for="name">Background Image Url</label>
                <nb-form-field>
                  <nb-icon nbPrefix icon="link-outline"></nb-icon>
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    [(ngModel)]="service.images[0]"
                    name="image"
                    #image="ngModel"
                    [ngClass]="{'wsError': error.Images && error.Images != ''}"
                    pattern="^https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$">
                </nb-form-field>
                <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert">
                  Image url is not valid
                </div>
                <div *ngIf="error.Images && !error.All" class="alert">
                  {{ error.Images }}
                </div>
                <img [src]="service.images[0]" class="img-preview" *ngIf="service.images[0] && image.valid">
            </div>

            <div class="form-group" style="display: flex;flex-direction: column;grid-column: 2;grid-row: 1 / span 2">
                <label for="description">Description</label>
                <textarea 
                    type="text"
                    nbInput
                    fullWidth
                    style="height: 150px;height: -webkit-fill-available;"
                    [(ngModel)]="service.description"
                    name="description"
                    [ngClass]="{'wsError': error.Description && error.Description != ''}">
                </textarea>
                <div *ngIf="error.Description && !error.All" class="alert">
                  {{ error.Description }}
                </div>
            </div>

            <div class="form-group" style="display: flex;flex-direction: column;grid-column: 2;grid-row: 3">
                <label for="cwl">CWL<span class="required-asterisk">*</span></label>
                <div class="editor-div">
                    <ngx-monaco-editor
                        [ngClass]="{'wsError': error.Cwl && error.Cwl != ''}"
                        class="cwl-editor"
                        [options]="editorOptions"
                        [(ngModel)]="service.cwl"
                        name="cwl" #cwl="ngModel"
                        required>
                    </ngx-monaco-editor>
                </div>
                <div *ngIf="cwl.invalid && (cwl.dirty || cwl.touched)" class="alert">
                  <div *ngIf="cwl.errors && cwl.errors.required">
                    CWL is required
                  </div>
                </div>
                <div *ngIf="error.Cwl && !error.All" class="alert">
                  {{ error.Cwl }}
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="button-wrapper">
        <app-button (click)="close()">Cancel</app-button>
        <app-button (click)="update()" *ngIf="edit" [disabled]="!serviceForm.form.valid">Update</app-button>
        <app-button (click)="create()" *ngIf="!edit" [disabled]="!serviceForm.form.valid">Create</app-button>
      </div>
    </nb-card-footer>
</nb-card>
